<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geniusgithub.mediarender">

    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.RECORD_AUDIO"/>
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:name="com.geniusgithub.mediarender.RenderApplication">
        
        <meta-data android:name="TD_APP_ID" android:value="7F0D6361854462718E6EEB92BF280894" /> 
        <meta-data android:name="TD_CHANNEL_ID" android:value="91.com" />
        
        <service android:name="com.geniusgithub.mediarender.service.MediaRenderService" android:enabled="true">
            <intent-filter>
                <action android:name="com.geniusgithub.start.engine" />
                <action android:name="com.geniusgithub.restart.engine" />
            </intent-filter> 
		</service>
		
        
        <activity
            android:name="com.geniusgithub.mediarender.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        <activity
            android:name="com.geniusgithub.mediarender.video.VideoActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape"
            android:launchMode="singleTask" >
        </activity>
        
        <activity
            android:name="com.geniusgithub.mediarender.music.MusicActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape"
            android:launchMode="singleTask">
            
<!--                 <intent-filter> -->
<!-- 	                <action android:name="android.intent.action.MAIN" /> -->
<!-- 	                <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             	</intent-filter> -->
            	
        </activity>
        
        <activity
            android:name="com.geniusgithub.mediarender.image.ImageActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape">
        </activity>
        
    </application>

</manifest>